        <!-- Footer Section -->

        <footer class="footer">
            <div class="upper--section">
                <div class="news">
                    <form action="/" class="form" id="form">
                        <label for="email">send me news</label>
                        <input type="email" name="email" id="email" class="email" placeholder="Enter your email...">
                        <button type="submit" class="submit-btn">get insights</button>
                    </form>
                </div>
                <div class="footer--content">
                    <h4 class="footer--heading">content</h4>
                    <a href="" class="footer-link">blog</a>
                    <a href="" class="footer-link">podcasts</a>
                    <a href="" class="footer-link">books</a>
                    <a href="" class="footer-link">subscription</a>
                </div>
                <div class="footer--company">
                    <h4 class="footer--heading">company</h4>
                    <a href="" class="footer-link">about</a>
                    <a href="" class="footer-link">contact us</a>
                    <a href="" class="footer-link">partnership</a>
                    <a href="" class="footer-link">careers</a>
                </div>
                <div class="footer--socials">
                    <h4 class="footer--heading">social</h4>
                    <a href="" class="footer-link">instagram</a>
                    <a href="" class="footer-link">facebook</a>
                    <a href="" class="footer-link">linkedIn</a>
                    <a href="" class="footer-link">youtube</a>
                </div>

            </div>
            <div class="lower--section">
                <div class="logo">
                    <h1><a href="/index.html" class="logo--link">Q.studio</a></h1>
                </div>
                <div class="other--footer-links">
                    <p>&copy; Q.studio</p>
                    <p>All Rights Reserved</p>
                    <a href="">Privacy</a>
                    <a href="">Contact</a>
                </div>
            </div>
        </footer>
       
    </div>

    <!-- LINK TO SwiperJS scipt file -->

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

   

    <!-- LINK TO CUSTOM CSS FILE -->
    <script src="/js/index.js"></script>
</body>
</html>