<header class="header">
    <div class="logo">
        <h1><a href="/index.html" class="logo--link">Q.studio</a></h1>
    </div>
    <nav class="navbar">
        <a href="/" class="nav--item">Home</a>
        <a href="/blog" class="nav--item">Blog</a>
        <a href="/podcasts" class="nav--item">Podcasts</a>
        <a href="/books" class="nav--item">Books</a>
        <a href="/about" class="nav--item">About</a>
    </nav>
    <div class="user--profile">
        <i class="fas fa-user"></i>
        <i class="fas fa-cart-plus"></i>
    </div>
    <div class="toggle">
        <i class="fas fa-bars"></i>
    </div>
</header>