<section class="subscribe">
    <hr class="horizontal">
    <div class="subscribe--content">
        <h3 class="subscribe--heading">subscribe to get more</h3>
        <p class="subscribe--text">Be virtually guided through interviews and video tutorials with women that have already done it (and done it well). The perks, discounts and events are icing on the cake.</p>
        <div class="subscribe--buttons">
            <a href="" class="learn-more sub-btn">Learn more</a>
            <a href="" class="sub-btn" id="buy-now">Buy now for $10.99(Monthly)</a>
        </div>
    </div>
    <hr class="horizontal">
</section>