<%- include('partials/header.ejs') %> 

<div class="app--container">

<!-- HEADER SECTION STARTS -->

<%- include('partials/nav-header.ejs') %> 

<!-- HEADER SECTION ENDS -->

<!-- PAGE TITLE STARTS-->

<%- include('partials/pageTitle.ejs') %> 

<!-- PAGE TITLE ENDS-->

<!-- FOOTER SECTION STARTS -->

<%- include('partials/footer.ejs') %> 

<!-- FOOTER SECTION ENDS -->
</div>