<%- include('partials/header.ejs') %> 

<div class="app--container">

<!-- HEADER SECTION STARTS -->

<%- include('partials/nav-header.ejs') %> 

<!-- HEADER SECTION ENDS -->

<!-- PAGE TITLE STARTS-->

<%- include('partials/pageTitle.ejs') %> 

<!-- PAGE TITLE ENDS-->

<!-- BEST SELLERS OF THE MONTH STARTS -->

<section class="best--sellers">
    <hr class="horizontal">
    <div class="trending--heading-box">
     <h2 class="trending--heading">best sellers of the month</h2>
     <a href="#trending" class="trending-link">View All</a>
    </div>
    <hr class="horizontal">

    <div class="best--sellers-button">
        <i class="fas fa-long-arrow-alt-left left-btn"></i>
        <i class="fas fa-long-arrow-alt-right right-btn"></i>
    </div>

    
    <div class="book--cards-container swiper-wrapper">
        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book1.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading">What's Mine and Yours</h3>
             <p class="book-author">by halsey street</p>
             <a href="#" class="buy-btn">1Buy for <span>$14.99</span></a>
         </div>
        </div>
        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book2.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading capitalize">the committed: a novel</h3>
             <p class="book-author">by thiet thanh nguyen</p>
             <a href="#" class="buy-btn">2Buy for <span>$10.99</span></a>
         </div>
        </div>
        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book3.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading capitalize">come fly the world: stories</h3>
             <p class="book-author">by julia cookie</p>
             <a href="#" class="buy-btn">3Buy for <span>$23.49</span></a>
         </div>
        </div>
        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book4.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading capitalize">Klara and the Sun: A novel</h3>
             <p class="book-author">by kazuo ishiguro</p>
             <a href="#" class="buy-btn">4Buy for <span>$12.99</span></a>
         </div>
        </div>
        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book5.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading capitalize">I am a Reader</h3>
             <p class="book-author">by beastCodes</p>
             <a href="#" class="buy-btn">5Buy for <span>$99.99</span></a>
         </div>
        </div> 

        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book1.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading">What's Mine and Yours</h3>
             <p class="book-author">by halsey street</p>
             <a href="#" class="buy-btn">6Buy for <span>$14.99</span></a>
         </div>
        </div>
        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book2.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading capitalize">the committed: a novel</h3>
             <p class="book-author">by thiet thanh nguyen</p>
             <a href="#" class="buy-btn">7Buy for <span>$10.99</span></a>
         </div>
        </div>
        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book3.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading capitalize">come fly the world: stories</h3>
             <p class="book-author">by julia cookie</p>
             <a href="#" class="buy-btn">8Buy for <span>$23.49</span></a>
         </div>
        </div>
        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book4.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading capitalize">Klara and the Sun: A novel</h3>
             <p class="book-author">by kazuo ishiguro</p>
             <a href="#" class="buy-btn">9Buy for <span>$12.99</span></a>
         </div>
        </div>
        <div class="book-card swiper-slide">
         <div class="image">
             <img src="/images/book-assets/book5.jpg" alt="book image">
         </div>
         <div class="book-content">
             <h3 class="book--heading capitalize">I am a Reader</h3>
             <p class="book-author">by beastCodes</p>
             <a href="#" class="buy-btn">10Buy for <span>$99.99</span></a>
         </div>
        </div> 

        

     </div>

</section>

<!-- BEST SELLERS OF THE MONTH END -->

<!-- ALL BOOKS SECTION STARTS -->

<div class="all--books">

<hr class="horizontal">
<div class="trending--heading-links">
    <a href="" class="page--trending-link">View All</a>
    <a href="" class="page--trending-link">self-education</a>
    <a href="" class="page--trending-link">psychology</a>
    <a href="" class="page--trending-link">business</a>
    <a href="" class="page--trending-link">novel</a>
    <a href="" class="page--trending-link">art</a>
</div>
<hr class="horizontal">

<div class="all--books-container">
    <div class="books">
        <div class="image">
            <img src="/images/book-assets/book1.jpg" alt="book image">
        </div>
        <div class="books--info">
            <div class="book-author">by ellen josh</div>
            <div class="books--content">
                <h1 class="books--heading">Be Where Your Feet Are: Seven Principles to Keep You Present, Grounded, and Thriving</h1>
                <p class="books--text">When we're moving at 115 MPH, we rarely see the wall coming. But it comes for all of us. The sudden loss of a much beloved friend, the excruciating long departure of a parent with Alzheimer's. We grasp for lessons, for meaning, for learnings... <a href="" class="readmore">Read More</a></p>
                <p class="price">$ 25.00 <span class="discount">$33.00</span></p>
                <a href="" class="books-shopBtn">Shop now</a>
            </div>
        </div>
    </div>

    <div class="books">
        <div class="image">
            <img src="/images/book-assets/book2.jpg" alt="book image">
        </div>
        <div class="books--info">
            <div class="book-author">by julia o'connor</div>
            <div class="books--content">
                <h1 class="books--heading">Nora</h1>
                <p class="books--text">In her fiction, Julia O'Connor has often explored the lives of historical figures, she did it in 2015's Miss Milly about Emily Dickinson, and again in 2018's becoming Belle, about singer and dancer Belle Bilton. She takes the same approach in Nora, a long but lively portrait of James Joyce's wife and muse, Nora Bernacle Joyce... <a href="" class="readmore">Read More</a></p>
                <p class="price">$ 12.00 <span class="discount">$17.00</span></p>
                <a href="" class="books-shopBtn">Shop now</a>
            </div>
        </div>
    </div>

    <div class="books">
        <div class="image">
            <img src="/images/book-assets/book3.jpg" alt="book image">
        </div>
        <div class="books--info">
            <div class="book-author">by kayleen schaeffer</div>
            <div class="books--content">
                <h1 class="books--heading capitalize">but you're still so young: how thirtysomethings are redefining adulthood</h1>
                <p class="books--text"><q>What you have not done before you are 30, you are not likely not to do,</q> John had the nerve to write in his 1971 novel, Rabbit Redux, making a mockery of the idea of moving out of one's 20s and into a decade where everything is magically supposed to fall into place... <a href="" class="readmore">Read More</a></p>
                <p class="price">$ 19.50 <span class="discount">$21.00</span></p>
                <a href="" class="books-shopBtn">Shop now</a>
            </div>
        </div>
    </div>

    <div class="books">
        <div class="image">
            <img src="/images/book-assets/book4.jpg" alt="book image">
        </div>
        <div class="books--info">
            <div class="book-author">by alexander nemerov</div>
            <div class="books--content">
                <h1 class="books--heading">Fierce Poise: Helen Frankenthaler and the 1950's New York</h1>
                <p class="books--text">Neither conventional biography nor arm's length critical appraisal, Alexander Nemerov's Fierce Poise shines a light on Helen Frankenthaler's early artistic breakthrough by blending both forms, Eleven specific and crucial days -- from May... <a href="" class="readmore">Read More</a></p>
                <p class="price">$ 22.00 <span class="discount">$26.00</span></p>
                <a href="" class="books-shopBtn">Shop now</a>
            </div>
        </div>
    </div>

    <div class="books">
        <div class="image">
            <img src="/images/book-assets/book5.jpg" alt="book image">
        </div>
        <div class="books--info">
            <div class="book-author">by tamale frank</div>
            <div class="books--content">
                <h1 class="books--heading">The Final Revival of Opal and Nev</h1>
                <p class="books--text">If there were a genre of popular post modern literature. The final revival of Opal and Nev would fall squarely in it. Easy to read, and yet layered in both its organization and impact, Tamale Frank's novel tells the story of the 70's musicians Opal and Nev and is alternatingly structured as an oral history and recurring editor's notes ... <a href="" class="readmore">Read More</a></p>
                <p class="price">$ 10.00 <span class="discount">$19.00</span></p>
                <a href="" class="books-shopBtn">Shop now</a>
            </div>
        </div>
    </div>

</div>

<a href="" class="show-more">Show More</a>

</div>


<!-- ALL BOOKS SECTION ENDS -->

<!-- FOOTER SECTION STARTS -->

<%- include('partials/footer.ejs') %> 

<!-- FOOTER SECTION ENDS -->
</div>