<%- include('partials/header.ejs') %> 
    <div class="app--container">
        <!-- HEADER SECTION STARTS-->

       <%- include('partials/nav-header.ejs') %> 

        <!-- HEADER SECTION ENDS -->

        <!-- TOP ARTICLE AND ASIDE SECTION -->

        <main class="main">
           <article class="article main--article">
            <div class="main--article-image">
                <img src="/images/top-image.jpg" alt="main hero image">
            </div>
            <div class="image--caption">
                <div class="left">
                    <span>Feb 11</span>
                    <p class="read">5 min read</p>
                </div>
                <div class="right">
                    <div class="line"></div>
                    <p class="author">by ellen josh</p>
                </div>
            </div>
            <div class="article--content">
                <h1 class="main--article-heading">what designers, photographers, and other insiders missed about paris fashion week.</h1>
                <p class="main--article-text">If Paris Fashion Week in digital form has remained saturated with propositions and visions of the clothes we will be seeing - and perhaps wearing - in a few months, it's only natural to be feeling a certain wistfulness for the experience as it used to be not so long ago... <a href="" class="readmore">Read More</a>
                </p>
            </div>
           </article>
           <article class="article first--article">
                <div class="aside--article-image">
                    <img src="/images/maskImage.jpg" alt="image">
                </div>
                <div class="image--caption">
                    <div class="left">
                        <span>Feb 11</span>
                        <p class="read">5 min read</p>
                    </div>
                    <div class="right">
                        <div class="line"></div>
                        <p class="author">Tamale Frank</p>
                    </div>
                </div>
                <div class="article--content">
                    <h1 class="article--heading">What happens when one partner is vaccinated and the other isn't?</h1>
                    <p class="article--text">For the moment, many people are learning to balance their happiness about their partner's vaccine eligibility with personal disappointment... <a href="" class="readmore">Read More</a></p>
                </div>
           </article>
           <article class="article second--article">
                <div class="aside--article-image">
                    <img src="/images/aside-image2.jpg" alt="image">
                </div>
                <div class="image--caption">
                    <div class="left">
                        <span>Feb 11</span>
                        <p class="read">5 min read</p>
                    </div>
                    <div class="right">
                        <div class="line"></div>
                        <p class="author">Tamale Frank</p>
                    </div>
                </div>
              <div class="article--content">
                <h1 class="article--heading">These Intimate Portraits Celebrate the beauty and Versatility of Black Men's Hair.</h1>
                <p class="article--text">Identity for Black Men is something we have always struggled with, not because we don't understand who we but because of what society tries to make us to be... <a href="" class="readmore">Read More</a></p>
              </div>
           </article>
        </main>

        <!-- TRENDING SECTION -->
        <section class="trending">
            <hr class="horizontal">
           <div class="trending--heading-box">
            <h2 class="trending--heading">today's trending</h2>
            <a href="#trending" class="trending-link">View All</a>
           </div>
           <hr>
           <div class="trending--buttons">
            <i class="fas fa-long-arrow-alt-left left-btn"></i>
            <i class="fas fa-long-arrow-alt-right right-btn"></i>
           </div>

           <div class="trending--articles-container">
            <div class="trending--article">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/4Kj8UPnZfPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="image--caption">
                    <div class="left">
                        <span>Feb 11</span>
                        <p class="read">5 min read</p>
                    </div>
                    <div class="right">
                        <div class="line"></div>
                        <p class="author">Eden Mozart</p>
                    </div>
                </div>
                <div class="trending--text">
                    <h2 class="capitalize">A Brit in America makes sense of the meghan markle oprah interview... <a href="" class="readmore">Read More</a></h2>
                </div>
            </div>
            <div class="trending--article">
                <div class="trending--image">
                    <img src="/images/blackChild.jpg" alt="black child Image">
                </div>
                <div class="image--caption">
                    <div class="left">
                        <span>Feb 11</span>
                        <p class="read">5 min read</p>
                    </div>
                    <div class="right">
                        <div class="line"></div>
                        <p class="author">Eden Mozart</p>
                    </div>
                </div>
                <div class="trending--text">
                    <h2>In Deborah Robert's Art, an Interrogation Of What Society Imposes on Black Children... <a href="" class="readmore">Read More</a></h2>
                </div>
            </div>
            <div class="trending--article">
                <div class="trending--image">
                    <img src="/images/springSkirts.jpg" alt="skirt image">
                </div>
                <div class="image--caption">
                    <div class="left">
                        <span>Feb 11</span>
                        <p class="read">5 min read</p>
                    </div>
                    <div class="right">
                        <div class="line"></div>
                        <p class="author">Eden Mozart</p>
                    </div>
                </div>
                <div class="trending--text">
                    <h2>Spring Skirts Have Sprung - 6 Ways to Wear Them All Season Long... <a href="" class="readmore">Read More</a></h2>
                </div>
            </div>
            <div class="trending--article">
                <div class="trending--image">
                    <img src="/images/photoBook.jpg" alt="photoBook Image">
                </div>
                <div class="image--caption">
                    <div class="left">
                        <span>Feb 11</span>
                        <p class="read">5 min read</p>
                    </div>
                    <div class="right">
                        <div class="line"></div>
                        <p class="author">Eden Mozart</p>
                    </div>
                </div>
                <div class="trending--text">
                    <h2 class="capitalize">The Definitive helmut newton photobook is reissued - in miniature... <a href="" class="readmore">Read More</a></h2>
                </div>
            </div>
            <div class="trending--article">
                <div class="trending--image">
                    <img src="/images/blackLivesMatter.jpg" alt="black lives matter image">
                </div>
                <div class="image--caption">
                    <div class="left">
                        <span>Feb 11</span>
                        <p class="read">5 min read</p>
                    </div>
                    <div class="right">
                        <div class="line"></div>
                        <p class="author">Eden Mozart</p>
                    </div>
                </div>
                <div class="trending--text">
                    <h2 class="capitalize">5 things white people keep getting wrong about racism... <a href="" class="readmore">Read More</a></h2>
                </div>
            </div>

            <div class="trending--article">
                <div class="trending--image">
                    <img src="/images/blackChild.jpg" alt="black child Image">
                </div>
                <div class="image--caption">
                    <div class="left">
                        <span>Feb 11</span>
                        <p class="read">5 min read</p>
                    </div>
                    <div class="right">
                        <div class="line"></div>
                        <p class="author">Eden Mozart</p>
                    </div>
                </div>
                <div class="trending--text">
                    <h2>In Deborah Robert's Art, an Interrogation Of What Society Imposes on Black Children... <a href="" class="readmore">Read More</a></h2>
                </div>
            </div>
            

           </div>

        </section>

        <!-- LATEST ARTICLES SECTION -->
        <section class="latest-articles">
            <hr class="horizontal">
            <div class="trending--heading-box">
             <h2 class="trending--heading">the latest articles</h2>
             <a href="#trending" class="trending-link">View All</a>
            </div>
            <hr class="horizontal">

            <div class="latest--articles-container">
                <div class="latest--article-card">
                    <div class="image">
                        <img src="/images/photoBook.jpg" alt="image">
                    </div>
                    <div class="latest--article-content">
                        <div class="top">
                            <div class="line"></div>
                            <p class="article-author">by ellen josh</p>
                        </div>
                        <div class="content">
                            <h1 class="latest--article-heading">The Definitive Helmut Newton Photobook Is Reissued - in Miniature - for His 100th Birthday</h1>
                            <p class="latest--article-text">The photographer, whose provocative work rose to prominence in the 1970s against a backdrop of the second-wave feminist movement, was one of the most impactful visual creators of his time.. <a href="" class="readmore">Read More</a></p>
                        </div>
                        <div class="bottom">
                            <span>Feb 11</span>
                            <p class="read">5 min Read</p>
                        </div>
                    </div>
                </div>

                <div class="latest--article-card">
                    <div class="image">
                        <img src="/images/springSkirts.jpg" alt="image">
                    </div>
                    <div class="latest--article-content">
                        <div class="top">
                            <div class="line"></div>
                            <p class="article-author">by pit monroe</p>
                        </div>
                        <div class="content">
                            <h1 class="latest--article-heading">Made You Look: A True Story About Fake Art - When Wanting to Believe Is Just Not Enough</h1>
                            <p class="latest--article-text">The Story of the most significant art fraud in history where ruined reputation egos mattered more than money...<a href="" class="readmore">Read More</a></p>
                        </div>
                        <div class="bottom">
                            <span>Feb 11</span>
                            <p class="read">5 min Read</p>
                        </div>
                    </div>
                </div>

                <div class="latest--article-card">
                    <div class="image">
                        <img src="/images/blackChild.jpg" alt="image">
                    </div>
                    <div class="latest--article-content">
                        <div class="top">
                            <div class="line"></div>
                            <p class="article-author">by tamale frank</p>
                        </div>
                        <div class="content">
                            <h1 class="latest--article-heading">The Definitive Helmut Newton Photobook Is Reissued - in Miniature - for His 100th Birthday</h1>
                            <p class="latest--article-text">The photographer, whose provocative work rose to prominence in the 1970s against a backdrop of the second-wave feminist movement, was one of the most impactful visual creators of his time.. <a href="" class="readmore">Read More</a></p>
                        </div>
                        <div class="bottom">
                            <span>Feb 11</span>
                            <p class="read">5 min Read</p>
                        </div>
                    </div>
                </div>
                <div class="latest--article-card">
                    <div class="image">
                        <img src="/images/blackLivesMatter.jpg" alt="image">
                    </div>
                    <div class="latest--article-content">
                        <div class="top">
                            <div class="line"></div>
                            <p class="article-author">by ellen josh</p>
                        </div>
                        <div class="content">
                            <h1 class="latest--article-heading">5 Things White People Keep Getting Totally Wrong About Racism...</h1>
                            <p class="latest--article-text">They want to escape the harsh, unforgiving glare of culpability by pretending they have done wrong, that if there are ongoing issues with racism in this country, it has nothing to do with how they raise their children. It's because Black people have failed to move...<a href="" class="readmore">Read More</a></p>
                        </div>
                        <div class="bottom">
                            <span>Feb 11</span>
                            <p class="read">5 min Read</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- BEST SELLERS OF THE MONTH -->
        <section class="best--sellers">
            <hr class="horizontal">
            <div class="trending--heading-box">
             <h2 class="trending--heading">best sellers of the month</h2>
             <a href="#trending" class="trending-link">View All</a>
            </div>
            <hr class="horizontal">

            <div class="best--sellers-button">
                <i class="fas fa-long-arrow-alt-left left-btn"></i>
                <i class="fas fa-long-arrow-alt-right right-btn"></i>
            </div>


            <div class="book--cards-container swiper-wrapper">
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book1.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading">What's Mine and Yours</h3>
                     <p class="book-author">by halsey street</p>
                     <a href="#" class="buy-btn">1Buy for <span>$14.99</span></a>
                 </div>
                </div>
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book2.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading capitalize">the committed: a novel</h3>
                     <p class="book-author">by thiet thanh nguyen</p>
                     <a href="#" class="buy-btn">2Buy for <span>$10.99</span></a>
                 </div>
                </div>
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book3.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading capitalize">come fly the world: stories</h3>
                     <p class="book-author">by julia cookie</p>
                     <a href="#" class="buy-btn">3Buy for <span>$23.49</span></a>
                 </div>
                </div>
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book4.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading capitalize">Klara and the Sun: A novel</h3>
                     <p class="book-author">by kazuo ishiguro</p>
                     <a href="#" class="buy-btn">4Buy for <span>$12.99</span></a>
                 </div>
                </div>
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book5.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading capitalize">I am a Reader</h3>
                     <p class="book-author">by beastCodes</p>
                     <a href="#" class="buy-btn">5Buy for <span>$99.99</span></a>
                 </div>
                </div> 
 
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book1.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading">What's Mine and Yours</h3>
                     <p class="book-author">by halsey street</p>
                     <a href="#" class="buy-btn">6Buy for <span>$14.99</span></a>
                 </div>
                </div>
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book2.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading capitalize">the committed: a novel</h3>
                     <p class="book-author">by thiet thanh nguyen</p>
                     <a href="#" class="buy-btn">7Buy for <span>$10.99</span></a>
                 </div>
                </div>
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book3.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading capitalize">come fly the world: stories</h3>
                     <p class="book-author">by julia cookie</p>
                     <a href="#" class="buy-btn">8Buy for <span>$23.49</span></a>
                 </div>
                </div>
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book4.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading capitalize">Klara and the Sun: A novel</h3>
                     <p class="book-author">by kazuo ishiguro</p>
                     <a href="#" class="buy-btn">9Buy for <span>$12.99</span></a>
                 </div>
                </div>
                <div class="book-card swiper-slide">
                 <div class="image">
                     <img src="/images/book-assets/book5.jpg" alt="book image">
                 </div>
                 <div class="book-content">
                     <h3 class="book--heading capitalize">I am a Reader</h3>
                     <p class="book-author">by beastCodes</p>
                     <a href="#" class="buy-btn">10Buy for <span>$99.99</span></a>
                 </div>
                </div> 
 
                
 
             </div>


        </section>

        <section class="latest--podcasts">
            <hr class="horizontal">
            <div class="trending--heading-box">
             <h2 class="trending--heading">the latest Podcasts</h2>
             <a href="#trending" class="trending-link">View All</a>
            </div>
            <hr class="horizontal">


            <div class="podcast--container">
                <div class="podcast-card">
                    <div class="podcast--video">
                        <iframe src="https://www.youtube.com/embed/QBf3lwjqvgo?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="podcast--content">
                        <div class="top">
                            <div class="line"></div>
                            <div class="podcast-author">by ellen josh</div>
                        </div>
                        <div class="podcast--text">
                            <h2 class="podcast--heading">How are the boubdaries between masculine and feminine being erased in fashion?</h2>
                            <p class="podcast-desc">Today, you will not surprise anyone with pale pink shades of clothing in the men's department. Men in dresses appear on the red carpets, and big brands like Chanel are lauching lines of men's makeup... <a href="" class="readmore">Read More</a> </p>
                        </div>
                        <div class="bottom">
                            <span>Feb 11</span>
                            <p class="read">5 min read</p>
                        </div>
                    </div>
                </div>
                <div class="podcast-card">
                    <div class="podcast--video">
                        <iframe src="https://www.youtube.com/embed/ept8hwPQQNg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="podcast--content">
                        <div class="top">
                            <div class="line"></div>
                            <div class="podcast-author">by ellen josh</div>
                        </div>
                        <div class="podcast--text">
                            <h2 class="podcast--heading">What is the Essence of Ghandhi's philosophy?</h2>
                            <p class="podcast-desc">It so happens that a proper name becomes a household name. This happened with name of Mahatima Ghandhi. Neither before nor after him, was there a person who could successfully mix philosophy and politics... <a href="" class="readmore">Read More</a> </p>
                        </div>
                        <div class="bottom">
                            <span>Feb 11</span>
                            <p class="read">5 min read</p>
                        </div>
                    </div>
                </div>
                <div class="podcast-card">
                    <div class="podcast--video">
                        <iframe src="https://www.youtube.com/embed/X1jbfvisr0s?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="podcast--content">
                        <div class="top">
                            <div class="line"></div>
                            <div class="podcast-author">by ellen josh</div>
                        </div>
                        <div class="podcast--text">
                            <h2 class="podcast--heading">What is the tragedy behind Vrubel's paintings?</h2>
                            <p class="podcast-desc">The work of Mikhail Vrubel (1856-1910) become the quintessence of the era in which he lived - a turning point, full of contradictions and collisions... <a href="" class="readmore">Read More</a></p>
                        </div>
                        <div class="bottom">
                            <span>Feb 11</span>
                            <p class="read">5 min read</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Subscribe Section -->

<%- include('partials/subscribe.ejs') %> 

<%- include('partials/footer.ejs') %> 

